{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <!-- Header -->
        <div class="row header">
            <svg width="60px" height="80px" viewBox="0 0 79 100" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <!-- Generator: Sketch 46.2 (44496) - http://www.bohemiancoding.com/sketch -->
                <title>THE LST ONE.</title>
                <desc>Created with Sketch.</desc>
                <defs></defs>
                <g id="Website" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="Page-de-connexion" transform="translate(-125.000000, -37.000000)" fill="#FFFFFF">
                        <g id="Header" transform="translate(125.000000, 37.000000)">
                            <path d="M10.5132454,4.88851188 L10.5132454,22.2044455 L4.74126754,22.2044455 L4.74126754,4.88851188 L0,4.88851188 L0,-1.42108547e-14 L15.254513,-1.42108547e-14 L15.254513,4.88851188 L10.5132454,4.88851188 Z M34.2519893,8.56962021 L42.5860186,8.56962021 L42.5860186,-1.42108547e-14 L48.3579965,-1.42108547e-14 L48.3579965,22.2044455 L42.5860186,22.2044455 L42.5860186,13.045848 L34.2519893,13.045848 L34.2519893,22.2044455 L28.4800115,22.2044455 L28.4800115,-1.42108547e-14 L34.2519893,-1.42108547e-14 L34.2519893,8.56962021 Z M76.2591213,4.88851188 L69.3975354,4.88851188 L69.3975354,8.59906908 L75.8762861,8.59906908 L75.8762861,13.487581 L69.3975354,13.487581 L69.3975354,17.3159336 L76.2591213,17.3159336 L76.2591213,22.2044455 L63.6255575,22.2044455 L63.6255575,-1.42108547e-14 L76.2591213,-1.42108547e-14 L76.2591213,4.88851188 Z M7.58985095,38.1753345 L7.58985095,55.4912681 L14.5103346,55.4912681 L14.5103346,60.37978 L1.81787307,60.37978 L1.81787307,38.1753345 L7.58985095,38.1753345 Z M43.4909768,43.8714343 C42.8627312,43.3609847 42.234495,42.9830614 41.6062494,42.7376529 C40.9780037,42.4922445 40.3693999,42.3695421 39.7804196,42.3695421 C39.0343779,42.3695421 38.4257741,42.5462335 37.9545899,42.8996217 C37.4834057,43.2530099 37.2478171,43.7143708 37.2478171,44.2837184 C37.2478171,44.676372 37.3656114,45.0003062 37.6012035,45.255531 C37.8367956,45.5107558 38.1460056,45.7316201 38.5288428,45.9181305 C38.91168,46.104641 39.3435924,46.2666081 39.8245929,46.4040368 C40.3055935,46.5414656 40.7816787,46.6887084 41.252863,46.8457698 C43.1375998,47.4740155 44.5167746,48.3132998 45.3904287,49.3636479 C46.2640828,50.4139961 46.7009033,51.7833547 46.7009033,53.4717648 C46.7009033,54.6104601 46.5094876,55.6411601 46.1266504,56.5638959 C45.7438132,57.4866316 45.1842903,58.276835 44.448065,58.9345296 C43.7118396,59.5922243 42.8087501,60.1026662 41.7387693,60.4658707 C40.6687884,60.8290752 39.4564889,61.0106747 38.1018342,61.0106747 C35.2943615,61.0106747 32.693071,60.1762985 30.2978845,58.5075211 L32.7715893,53.8546001 C33.6354271,54.6202745 34.4894357,55.1896135 35.3336407,55.5626344 C36.1778458,55.9356552 37.012222,56.1221629 37.8367944,56.1221629 C38.7791629,56.1221629 39.4810205,55.9062067 39.9423884,55.4742878 C40.4037563,55.0423689 40.6344368,54.5515594 40.6344368,54.0018444 C40.6344368,53.668089 40.5755396,53.3785113 40.4577436,53.1331029 C40.3399475,52.8876944 40.1436237,52.661922 39.8687662,52.4557789 C39.5939088,52.2496358 39.2356178,52.0582201 38.7938826,51.881526 C38.3521474,51.704832 37.817165,51.5085081 37.1889193,51.2925487 C36.4428777,51.0569566 35.7115714,50.7968275 34.9949788,50.5121537 C34.2783861,50.2274799 33.6403337,49.8495566 33.0808024,49.3783724 C32.5212712,48.9071882 32.0697264,48.3133086 31.7261546,47.5967159 C31.3825827,46.8801233 31.2107994,45.9721256 31.2107994,44.8726958 C31.2107994,43.7732659 31.3923989,42.7769226 31.7556034,41.8836358 C32.1188079,40.990349 32.6292499,40.2246862 33.2869445,39.5866242 C33.9446391,38.9485622 34.7495668,38.4528446 35.7017516,38.0994564 C36.6539364,37.7460683 37.7189931,37.5693768 38.8969536,37.5693768 C39.9963835,37.5693768 41.1448778,37.7215278 42.342471,38.0258343 C43.5400643,38.3301407 44.6885586,38.7767774 45.7879884,39.3657577 L43.4909768,43.8714343 Z M72.3209299,43.0638464 L72.3209299,60.37978 L66.548952,60.37978 L66.548952,43.0638464 L61.8076844,43.0638464 L61.8076844,38.1753345 L77.0621974,38.1753345 L77.0621974,43.0638464 L72.3209299,43.0638464 Z M6.6655346,87.9296525 C6.6655346,88.8131229 6.83240984,89.6278668 7.16616533,90.3739085 C7.49992082,91.1199501 7.9514656,91.7678187 8.5208132,92.3175337 C9.0901608,92.8672486 9.75275368,93.2942529 10.5086117,93.5985594 C11.2644697,93.9028658 12.0644893,94.0550168 12.9086943,94.0550168 C13.7528994,94.0550168 14.552919,93.9028658 15.308777,93.5985594 C16.064635,93.2942529 16.732136,92.8672486 17.3112999,92.3175337 C17.8904639,91.7678187 18.3469167,91.1199501 18.6806722,90.3739085 C19.0144277,89.6278668 19.181303,88.8131229 19.181303,87.9296525 C19.181303,87.0461821 19.0144277,86.2314383 18.6806722,85.4853966 C18.3469167,84.7393549 17.8904639,84.0914863 17.3112999,83.5417714 C16.732136,82.9920564 16.064635,82.5650522 15.308777,82.2607457 C14.552919,81.9564392 13.7528994,81.8042882 12.9086943,81.8042882 C12.0644893,81.8042882 11.2644697,81.9564392 10.5086117,82.2607457 C9.75275368,82.5650522 9.0901608,82.9920564 8.5208132,83.5417714 C7.9514656,84.0914863 7.49992082,84.7393549 7.16616533,85.4853966 C6.83240984,86.2314383 6.6655346,87.0461821 6.6655346,87.9296525 Z M0.605957691,87.4653603 C0.605957691,85.8162155 0.910259604,84.2799817 1.51887256,82.8566126 C2.12748551,81.4332436 2.97167792,80.1914955 4.0514751,79.131331 C5.13127228,78.0711665 6.42210136,77.2416984 7.92400107,76.6429018 C9.42590078,76.0441051 11.0799289,75.7447113 12.8861351,75.7447113 C14.6727086,75.7447113 16.3218287,76.0441051 17.8335447,76.6429018 C19.3452608,77.2416984 20.645906,78.0711665 21.7355196,79.131331 C22.8251331,80.1914955 23.6742336,81.4332436 24.2828465,82.8566126 C24.8914595,84.2799817 25.1957614,85.8162155 25.1957614,87.4653603 C25.1957614,89.1145051 24.8914595,90.6507389 24.2828465,92.0741079 C23.6742336,93.4974769 22.8251331,94.7392251 21.7355196,95.7993896 C20.645906,96.8595541 19.3452608,97.6890222 17.8335447,98.2878188 C16.3218287,98.8866154 14.6727086,99.1860092 12.8861351,99.1860092 C11.0799289,99.1860092 9.42590078,98.8866154 7.92400107,98.2878188 C6.42210136,97.6890222 5.13127228,96.8595541 4.0514751,95.7993896 C2.97167792,94.7392251 2.12748551,93.4974769 1.51887256,92.0741079 C0.910259604,90.6507389 0.605957691,89.1145051 0.605957691,87.4653603 Z M29.0859692,98.5551145 L29.0859692,76.350669 L34.857947,76.350669 L45.5184368,89.9265966 L45.5184368,76.350669 L51.2609658,76.350669 L51.2609658,98.5551145 L45.5184368,98.5551145 L34.857947,84.979187 L34.857947,98.5551145 L29.0859692,98.5551145 Z M68.3816714,81.2391809 L61.5200854,81.2391809 L61.5200854,84.9497381 L67.9988361,84.9497381 L67.9988361,89.83825 L61.5200854,89.83825 L61.5200854,93.6666027 L68.3816714,93.6666027 L68.3816714,98.5551145 L55.7481075,98.5551145 L55.7481075,76.350669 L68.3816714,76.350669 L68.3816714,81.2391809 Z M72.1089652,96.1570441 C72.1089652,95.6858599 72.1973109,95.2392232 72.374005,94.8171206 C72.5506991,94.3950181 72.7961038,94.026911 73.1102267,93.7127881 C73.4243495,93.3986653 73.7924566,93.1532606 74.2145592,92.9765665 C74.6366617,92.7998724 75.0832984,92.7115267 75.5544826,92.7115267 C76.0256668,92.7115267 76.4723035,92.7998724 76.894406,92.9765665 C77.3165086,93.1532606 77.6846157,93.3986653 77.9987385,93.7127881 C78.3128613,94.026911 78.5582661,94.3950181 78.7349602,94.8171206 C78.9116543,95.2392232 79,95.6858599 79,96.1570441 C79,96.6282283 78.9116543,97.074865 78.7349602,97.4969675 C78.5582661,97.91907 78.3128613,98.2871772 77.9987385,98.6013 C77.6846157,98.9154228 77.3165086,99.1608276 76.894406,99.3375217 C76.4723035,99.5142158 76.0256668,99.6025615 75.5544826,99.6025615 C75.0832984,99.6025615 74.6366617,99.5142158 74.2145592,99.3375217 C73.7924566,99.1608276 73.4243495,98.9154228 73.1102267,98.6013 C72.7961038,98.2871772 72.5506991,97.91907 72.374005,97.4969675 C72.1973109,97.074865 72.1089652,96.6282283 72.1089652,96.1570441 Z" id="THE-LST-ONE."></path>
                        </g>
                    </g>
                </g>
            </svg>
        </div>

        <!-- Body -->
        <div class="content-auth">
            <div class="row justify-content-center">
                <div class="col-md-6 bg-green content-auth-layout">
                    <h1 class="center"> Sign In</h1>
                    {{ render(controller(
                    'FOSUserBundle:Security:login')) }}
                </div>
                <div class="col-md-6 bg-white content-auth-layout">
                    <h1 class="center"> Sign Up</h1>
                    {{ render(controller(
                    'FOSUserBundle:Registration:register')) }}
                </div>
            </div>
        </div>

        <!-- Footer -->
        <div class="row footer">
            <p class="center fnt-white"> Copyright © The Last One - 2017</p>
        </div>
    </div>
{% endblock %}


