{% extends 'base.html.twig' %}

{% block body %}

    <!-- Header -->
    <div class="header">

    </div>

    <!-- Body -->
    <div class="content-auth">

    </div>

    <!-- Footer -->
    <div class="footer">

    </div>

{% endblock %}


