@import "https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css";
@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700|Roboto:400,700);
@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');



body{
    background: #fff;  /* fallback for old browsers */
    padding-top: 70px;
}
.conteneur {
    display: flex;
}

/* blog */
.main-title{
    text-align: center;
    font-family: 'Permanent Marker', cursive;

}


/* chat */
.chat {
    background: -moz-linear-gradient(-45deg, #183850 0, #183850 25%, #192C46 50%, #22254C 75%, #22254C 100%);
    background: -webkit-linear-gradient(-45deg, #183850 0, #183850 25%, #192C46 50%, #22254C 75%, #22254C 100%);
    background-attachment: fixed;
    color: white;
    display: flex;
    flex-direction: column;
    font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Helvetica Neue", sans-serif; /* smashingmagazine.com/2015/11/using-system-ui-fonts-practical-guide */
    -webkit-font-smoothing: antialiased;
    line-height: 1;
    margin: 0;
    width: 30%;
    position: fixed;
    bottom: 0;
    right: 0px;
    top: 90px;
    overflow-y: auto ;
    visibility: hidden;
}

button,
input {
    color: inherit;
    font: inherit;
    padding: 8px;
}

button {
    cursor: pointer;
}

.message {
    display: flex;
    line-height: 20px;
    padding: 16px 24px;
}

.message:hover {
    background: rgba(255, 255, 255, .1);
}

.message-photo {
    border-radius: 3px;
    box-shadow: 0 10px 50px rgba(0, 0, 0, .2);
    height: 48px;
    margin-right: 24px;
    width: 48px;
}

.message-body {
    flex: 1;
}

.message-name {
    display: inline-block;
    font-weight: 600;
    margin-right: 8px;
}

.message-time {
    opacity: .5;
}

.message-text {
    margin-top: 8px;
}

.form {
    background: black;
    bottom: 0;
    box-sizing: border-box;
    display: flex;
    left: 0;
    padding: 8px;
    position: relative;
    width: 100%;
}

.form-input,
.form-button {
    background: none;
    border: none;
    padding: 16px;
}

.form-input {
    flex: 1;
}

.form-button {
    color: inherit;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1em;
    text-transform: uppercase;
}

/*blog*/

.blog {
    width: 70%;
    padding-left: 55px;
    padding-top: 50px;
    overflow:auto;
}


/*Search*/
#wrap {
    margin: 50px 100px;
    display: inline-block;
    position: relative;
    height: 60px;
    float: right;
    padding: 0;
    position: relative;
}

.loader{
    margin: 0 0 2em;
    height: 100px;
    width: 20%;
    text-align: center;
    padding: 1em;
    margin: 0 auto 1em;
    display: inline-block;
    vertical-align: top;
}

/*
  Set the color of the icon
*/
svg path,
svg rect{
    fill: #fff;
}


/*article list*/
* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

h1 {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
}


.card {
    display: inline-block;
    padding: 0 1.7rem;
    margin-bottom: 20px;
    width: 45%;
}
.card .menu-content {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.card .wrapper {
    background-color: #fff;
    min-height: 400px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.2);
}
.card .wrapper:hover .data {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    background: #C34A41;
}
.card .data {
    position: absolute;
    background: #C34A41;
    bottom: 0;
    width: 100%;
    -webkit-transform: translateY(calc(70px + 1em));
    transform: translateY(calc(70px + 1em));
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
}
.card .data .content {
    padding: 1em;
    position: relative;
    z-index: 1;
    min-height: 220px;
}
.card .author {
    font-size: 12px;
}
.card .title {
    margin-top: 10px;
}
.card .text {
    height: 70px;
    margin: 0;
}
.card input[type='checkbox'] {
    display: none;
}
.card input[type='checkbox']:checked + .menu-content {
    -webkit-transform: translateY(-60px);
    transform: translateY(-60px);
}

.recipe .wrapper:hover .menu-content span {
    -webkit-transform: translate(-50%, -10px);
    transform: translate(-50%, -10px);
    opacity: 1;
}
.recipe .header {
    color: #fff;
    padding: 1em;
}
.recipe .header::before, .recipe .header::after {
    content: '';
    display: table;
}
.recipe .header::after {
    clear: both;
}
.recipe .header .date {
    float: left;
    font-size: 12px;
}
.recipe .menu-content {
    float: right;
}
.recipe .menu-content li {
    margin: 0 5px;
    position: relative;
}
.recipe .menu-content span {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    opacity: 0;
}
.recipe .data {
    color: #fff;
    -webkit-transform: translateY(calc(70px + 4em));
    transform: translateY(calc(70px + 4em));
}
.recipe .title a {
    color: #fff;
}
.recipe .button {
    display: block;
    width: 100px;
    margin: 2em auto 1em;
    text-align: center;
    font-size: 12px;
    color: #fff;
    line-height: 1;
    position: relative;
    font-weight: 700;
}
.recipe .button::after {
    content: '\2192';
    opacity: 0;
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.recipe .button:hover::after {
    -webkit-transform: translate(5px, -50%);
    transform: translate(5px, -50%);
    opacity: 1;
}

#log
{
    top:10px;
    right: 10px;
    position: absolute;
}

.search{
    margin-left: 20px;
    margin-bottom: 10px;
    width:85% ;
}
